<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>DLC 分布式日志搜集系统 - 欢迎页面</title>
    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/style.min.css?v=4.0.0" rel="stylesheet">
    <base target="_self">

</head>

<body class="gray-bg">
    <div class="row">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="wrapper wrapper-content animated fadeInRight">

                        <div class="ibox-content m-b-sm border-bottom">
                            <div class="p-xs">
                                <div class="pull-left m-r-md">
                                    <i class="fa fa-globe text-navy mid-icon"></i>
                                </div>
                                <h2>欢迎来到DLC</h2>
                                <span>Distributed Log Collected——分布式日志搜集系统（DLC）</span>
                            </div>
                        </div>

                        <div class="ibox-content forum-container">

                            <div class="forum-title">
                                <h3>系统信息</h3>
                            </div>

                            <div class="forum-item active">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-shield"></i>
                                        </div>
                                        <a href="#" class="forum-item-title">当前系统</a>
                                        <div class="forum-sub-title">${dlcSystemInfo.appName!}</div>
                                    </div>
                                    <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            ${dlcSystemInfo.version!}
                                        </span>
                                        <div>
                                            <small>version</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="forum-item">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-bolt"></i>
                                        </div>
                                        <a href="#" class="forum-item-title">JVM属性</a>
                                        <div class="forum-sub-title">${dlcSystemInfo.jvm!}</div>
                                    </div>
                                    <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            ${dlcSystemInfo.jvmVersion!}
                                        </span>
                                        <div>
                                            <small>version</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            ${dlcSystemInfo.totalMemory!}
                                        </span>
                                        <div>
                                            <small>total Memory(MB)</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            ${dlcSystemInfo.freeMemory!}
                                        </span>
                                        <div>
                                            <small>free Memory(MB)</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="forum-item active">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <a href="#" class="forum-item-title">操作系统</a>
                                        <div class="forum-sub-title">${dlcSystemInfo.os!}</div>
                                    </div>
                                    <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            ${dlcSystemInfo.osVersion!}                                                                    
                                        </span>
                                        <div>
                                            <small>version</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="forum-item">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="forum-icon">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <a href="#" class="forum-item-title">集群组指标</a>
                                    </div>
                                    <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            ${dlcSystemInfo.usedHeap!}
                                        </span>
                                        <div>
                                            <small>used Heap(MB)</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            ${dlcSystemInfo.numberOfCores!}
                                        </span>
                                        <div>
                                            <small>number Of Cores</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 forum-info">
                                        <span class="views-number">
                                            ${dlcSystemInfo.activeJobs!}
                                        </span>
                                        <div>
                                            <small>active Jobs</small>
                                        </div>
                                    </div>                         
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js?v=2.1.4"></script>
    <script src="/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="/js/content.min.js?v=1.0.0"></script>
</body>

</html>